@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #125EB5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
  --color-brand: var(--brand-blue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}